.Do body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(5, 11, 85);
  }
  
  .main-container-DO {
    background: url("../assets/DONATEBG.jpg") no-repeat center center/cover;
    background-size:contain;
    color: azure;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .content-DO {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 50vh;
    margin-bottom: 0;
  }
  
  .title-DO {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .subtitle-DO {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .options-DO {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  
  
  .upi-info-DO {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .qr-code-DO {
    width: 250px;
    height: auto;
    margin: 10px 0;
  }
  
  .footer-text-DO {
    font-size: 0.9rem;
    line-height: 1.5;
  }