/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #0f172a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center; /* Ensures the logo and text are aligned vertically */
}

.navbar-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.navbar h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #0f172a;
  font-size: 1rem;
  font-weight: bolder;
}

li {
  border: 2px solid white;
  padding: 4px;
  background-color: white;
  color: #0f172a;
  width: 100px;
  border-radius: 10px;
  text-align: center;
}

li:hover {
  transform: scale(1.2);

}

/* Responsive Styles */
.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%; /* Aligns the menu button vertically */
  right: 1rem; /* Stays on the right side */
  transform: translateY(-50%); /* Center vertically */
  transition: background-color 0.3s, color 0.3s;
}
.menu-button:hover {
  background-color: white; /* Set background to white */
  color: #0f172a; /* Set foreground to #0f172a */
  border-radius: 10px; /* Optional: Rounded corners */
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .navbar-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .navbar h1 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
  }

  .navbar-left {
    justify-content: center;
    width: 100%;
  }

  .navbar-links {
    display: none;
    position: fixed;
    top: 0;
    right: 0; /* Menu aligns to the right */
    height: 100%;
    width: 70%;
    background: rgba(15, 23, 42, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-links.active {
    display: flex;
    transform: translateX(0);
  }

  .menu-button {
    display: block;
  }

  .close-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-size: 2rem;
    z-index: 15;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
}
